<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false">
  <targets>
    <target name="businessdatabase"
            xsi:type="Database"
            connectionStringName="DefaultConnection"
            commandType="StoredProcedure"
            commandText="InsertBusinessAudit">
      <parameter name="@When" layout="${date}" />
      <parameter name="@User" layout="${event-properties:business_AppUser}" />
      <parameter name="@EventId" layout="${event-properties:business_Code}" />
      <parameter name="@EventDesc" layout="${message}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Success" layout="${event-properties:business_Success}" />
      <parameter name="@Machine" layout="${machinename}" />
      <parameter name="@Class" layout="${event-properties:business_Class}" />
      <parameter name="@Method" layout="${event-properties:business_Method}" />
      <parameter name="@Details" layout="${event-properties:business_Details}" />
      <parameter name="@CorrelationToken" layout="${event-properties:business_CorrelationToken}" />
    </target>

    <target name="businessfile"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/testlogs/business/${shortdate}.log"
            layout="[${date}](${event-properties:business_AppUser})[${level}] - Code: ${event-properties:business_Code} Message: ${message} Succ: ${event-properties:business_Success} CallSite: ${event-properties:business_Class}.${event-properties:business_Method} CorrelationToken: ${event-properties:business_CorrelationToken}${newline}Details:${event-properties:business_Details}${newline}"
            archiveFileName="${basedir}/testlogs/business/archive/{#}.log"
            archiveEvery="Sunday"
            maxArchiveFiles="10">
    </target>


    <target name="diagnosticdatabase"
            xsi:type="Database"
            connectionStringName="DefaultConnection"
            commandType="StoredProcedure"
            commandText="InsertDiagnosticAudit">
      <parameter name="@When" layout="${date}" />
      <parameter name="@User" layout="${event-properties:diagnostic_AppUser}" />
      <parameter name="@EventType" layout="${event-properties:diagnostic_EventType}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Machine" layout="${machinename}" />
      <parameter name="@Class" layout="${event-properties:diagnostic_Class}" />
      <parameter name="@Method" layout="${event-properties:diagnostic_Method}" />
      <parameter name="@ExceptionType" layout="${event-properties:diagnostic_ExceptionType}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Stacktrace" layout="${event-properties:diagnostic_StackTrace}" />
      <parameter name="@CorrelationToken" layout="${event-properties:diagnostic_CorrelationToken}" />
    </target>

    <target name="diagnosticfile"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/testlogs/diag/${shortdate}.log"
            layout="[${date}](${event-properties:diagnostic_AppUser})[${level}] - Event: ${event-properties:diagnostic_EventType} Message: ${message} CallSite: ${event-properties:diagnostic_Class}.${event-properties:diagnostic_Method} Exception: ${event-properties:diagnostic_ExceptionType} CorrelationToken: ${event-properties:diagnostic_CorrelationToken}${newline}Stacktrace:${event-properties:diagnostic_StackTrace}"
            archiveFileName="${basedir}/testlogs/diag/archive/{#}.log"
            archiveEvery="Sunday"
            maxArchiveFiles="10">
    </target>
  </targets>
  <rules>
    <logger name="[business]*" writeTo="businessdatabase, businessfile"/>
    <logger name="[diagnostic]*" writeTo="diagnosticdatabase, diagnosticfile"/>
  </rules>
</nlog>